PORT=3000
ENV=
DB_PATH=
WEATHER_BOT_KEY=
MAESAI_CHANNEL=
MAESAI_LAT=
MAESAI_LON=
MAESAI_CODE=
DISCORD_WEBHOOK_MAESAI_URL=
DISCORD_WEBHOOK_TEST_URL=
CNX_LAT=
CNX_LON=
CNX_CODE=
CNX_CHANNEL=
DISCORD_WEBHOOK_CNX_URL=
AQI_TOKEN=
